hhead {
    font-family: serif;
}
p {
    color: blueviolet;
}

@font-face {
    font-family: 'VG5000';
    src:    url('VG5000-Regular_web.eot');
    src:    url('VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('VG5000-Regular_web.woff') format('woff'),
            url('VG5000-Regular_web.woff2') format('woff2'),
            url('VG5000-Regular_web.ttf') format('truetype'),
            url('VG5000-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
    color: rgb(5, 5, 5);
    font-family: 'VG5000';
    font-size: 50px;
    text-align: center;
}
h2 {
    font-size: 20px;
}
body {
    background-color: #FFFFFF;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#about {
    font-size: 15px;
}

#sakhif {
    text-align: center;
    width: 100%;
    position: relative;
    top: 100px;

}

/* Header */

.header {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
  }
  
  .header li {
    display: inline-block;
  }

  .header li #top {
      float: left;
  }

  .header li #magazine {
      float: center;
  }

  .header li #about {
      float: right;
  }
  
  .header a {
    display: block;
    color: #000000;
    padding: 30px 20px;
  }
  
  a.home {
    color: #ff5e00;
  }
  
  
