head {
    font-family: serif;
}
p {
    color: blueviolet;
}



h1 {
    color: rgb(75, 4, 0);
    font-family: serif;
    font-size: 50px;
    text-align: center;
    bottom: 10px;

}
h2 {
    font-size: 20px;
}
body {
    background-color: #FFFFFF;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#about {
    font-size: 15px;
}

#sakhif {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 100px;

}
  
  a.home {
    color: #ff5e00;
  }
  
  
