head {
    font-family: serif;
    position: relative;
    left: 50px;
}
p {
    color: blueviolet;
    text-align: center;
    position: relative;
    left: 50px;
}



h1 {
    color: rgb(75, 4, 0);
    font-family: serif;
    font-size: 50px;
    text-align: center;
    bottom: 10px;

}
h2 {
    font-size: 15px;
    color: #8a0303;
}
body {
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#about {
    font-size: 15px;
}

#sakhif {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 10px;
    left: 50px;

}

#sakhiftab {
    position: fixed;
    color: transparent;
    font-size: 15px;
    text-align: left;
   
}

#magazine {
    position: fixed;
    color: transparent;
    font-size: 15px;
    text-align: center;
   
}

  a.home {
    color: #ff5e00;
  }
  
  
